# Add files here to ignore them from prettier formatting
**/dist/**
/apps/react-app/src/app/components/custom/**
/apps/angular-app/src/app/components/custom/**
/apps/frontend-stenciljs/**
/coverage
/.nx/cache
/.nx/workspace-data
.angular
