@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.banner-section {
  width: 100%;
  height: 18.875rem;
  /* 300px */
  background: $color-gray-light;
  display: flex;
  justify-content: center;
}

.banner-container {
  width: 100%;
  max-width: 69rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.banner-section h1,
.banner-section__mobile h1 {
  margin: 0;
  font-size: 2.75rem;
  line-height: 3.5rem;
  letter-spacing: 0.65px;
  font-family: 'Manrope', Arial, sans-serif;
  font-weight: 600;
  display: none;
}

.banner-container {
  color: $color-black;

  &__mobile {
    h1 {
      color: $color-orange;
    }
  }
}

@include mobile {
  .banner-section {
    height: 11.25rem;
    /* 180px */
  }

  .banner-container {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
  }

  .banner-section h1 {
    font-size: 2.25rem;
  }
}

@include tablet {
  .banner-section {
    height: 9.4375rem;
    /* 300px */
  }

  .banner-section h1 {
    display: none;
    max-width: 43.375rem;
  }

  .banner-section__mobile h1 {
    display: block;
    font-size: 2.1875rem;
    padding: 1.625rem 1.9rem 0.55rem;
    letter-spacing: 0.65px;
    line-height: 2.25rem;
  }
}

@include desktop {
  .banner-section {
    height: 18.875rem;
  }

  .banner-section h1 {
    display: block;
    max-width: 38.15625rem;
  }
}