@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.banner-section {
  width: 100%;
  height: 18.875rem;
  /* 300px */
  background: $color-gray-light;
  display: flex;
  justify-content: center;
  background-image: url('https://www.plymouthrock.com/wp-content/uploads/2021/03/hero-motorhome-900x275-1.jpg');
  background-repeat: no-repeat;
}

.banner-container {
  width: 100%;
  max-width: 69rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.banner-section h1,
.banner-section__mobile h1 {
  margin: 0;
  font-size: 2.75rem;
  line-height: 3.5rem;
  letter-spacing: 0.65px;
  font-family: 'Manrope', Arial, sans-serif;
  font-weight: 600;
  display: none;
}

.banner-container {
  color: $color-black;

  &__mobile {
    h1 {
      color: $color-orange;
    }
  }
}

.background-overlay {
  &__mobile, &__desktop {
    position: absolute;
  }
  &__mobile {
    display: none;
  }

  &__desktop {
    display: none;
  }
}

@include mobile {
  .banner-section {
    height: 11.3125rem;
    background-size: cover;
    background-position: bottom right;
  }

  .banner-container {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
  }

  .banner-section h1 {
    display: none;
  }

  .banner-section__mobile h1 {
    display: block;
    font-size: 2.1875rem;
    padding: 1.5rem 1.7rem 0.95rem;
    letter-spacing: 0.1px;
    line-height: 2.25rem;
  }
}

@media (max-width: 63.9375rem) {
  .banner-section {
    position: relative;
  }

  .background-overlay {
    &__mobile {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 40px;
    }
  }
}

@include tablet {
  .banner-section {
    position: relative;
    height: 9.4375rem;
    background-size: cover;
    background-position: top;


    // &::after {
    //   display: block;
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background-color: transparent;
    //   background-image: linear-gradient(115deg, var(#ccc) 65%, rgba(255, 255, 255, 0) 0%);
    //   opacity: 1;
    //   inset: 0;
    //   z-index: 1;
    //   background-position: top;
    // }


  }

  .banner-section h1 {
    display: none;
  }

  .banner-section__mobile h1 {
    display: block;
    font-size: 2.1875rem;
    padding: 1.625rem 1.8rem 0.55rem;
    letter-spacing: 0.65px;
    line-height: 2.25rem;
  }
}

@include desktop {
  .banner-container h1 {
    z-index: 0;
  }
  .banner-section {
    overflow: hidden;
    position: relative;
    height: 18.875rem;
    background-size: contain;
    background-position: center right;

    ::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #f5f5f5;
      top: 0;
      left: -33.9%;
      z-index: -1;
      // clip-path: polygon(0% 0%, 69.5% 0%, 62.5% 100%, 0% 100%)
      transform: skew(-25deg)
    }
  }

  .banner-section h1 {
    display: block;
    max-width: 38.15625rem;
  }

  .banner-section__mobile h1 {
    display: none;
  }

  .background-overlay {
    &__desktop {
      display: block;
      right: -1.125rem;
    }
  }
}