@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.app-header {
  background-color: $color-primary-blue;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: $font-family-primary;

  &::after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    height: 0.0625rem;
    background-color: white;
    left: 0;
    width: 100%
  }
}

.header-container {
  @include flex-between;
  padding: 0 $spacing-md;
  max-width: $max-width-container-header;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0.4rem;
  @include flex-center;
}

.menu-toggle-icon svg {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  color: $color-white;
  transform: scaleX(1.3);
}

.menu-toggle:hover .menu-toggle-icon svg {
  color: $color-hover-gray;
}

.brand-logo {
  padding-top: 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: $spacing-md;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: $spacing-sm;
  padding-right: 0.1rem;
  @include flex-center;
  color: $color-white;
}

.search-icon {
  display: block;
  color: $color-white;

  svg {
    width: 21px;
    height: 21px;
    display: block;
    transform: scale(1.4) translate(0.1875rem, 0.0625rem);
    transform-origin: center;
  }
}

.login-link {
  color: $color-black;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: $color-orange;
  padding: 0 $spacing-md;
  border-radius: $border-radius-pill;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  height: 2.25rem;
  @include shadow-sm;
  margin-right: 0.325rem;

  &:hover {
    background-color: $color-orange-dark;
    color: $color-white;

    .login-icon {
      color: $color-white;
    }
  }
}

.login-icon {
  width: 15px;
  height: 17px;
  flex-shrink: 0;
}

.phone-link {
  color: $color-white;
  text-decoration: underline;
  font-weight: $font-weight-semibold;
  font-size: 1rem;
  white-space: nowrap;
  padding: $spacing-sm $spacing-sm;

  &:hover {
    text-decoration: none;
  }
}

@include tablet {

  .menu-toggle {
    padding: 0.5rem 0rem 0.5rem 0.4rem;
  }

  .header-container {
    min-height: $header-min-height;
    padding: 0rem 0rem 0.3rem 1rem;
  }

  .brand-logo {
    padding-top: 0.48rem;
  }

  .header-right{
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    gap: 0.9rem;
  }
  .header-left {
    gap: 1rem;
  }

  .login-link {
    gap: 0.8rem;
  }

  .phone-link {
    padding: 0.5rem 0;
  }
  .search-btn{
    padding-right: 0.4rem;
  }
}

@include mobile {
  .app-header {
    &::after {
      height: 0.125rem;
      bottom: -0.125rem;
    }
  }

  .header-container {
    position: relative;
    height: 65px;
    padding: 0 0.75rem;
  }

  .header-right {
    padding-top: 0.4rem;
    gap: 1.8rem;
  }

  .header-left {
    gap: 0.7rem;
  }

  .brand-logo {
    padding-top: 0.3rem;
  }

  .phone-link {
    display: none;
  }
}

@include desktop {
  .header-container {
    min-height: $header-min-height;
  }
}