@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  flex: 1;
}

.main {
  width: 100%;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 0.65rem 1.9rem;
  font-family: $font-family-primary;

  @include tablet {
    padding: 0 1.25rem 1.5rem;
  }
}
.content{
  &-body {
    padding: 0.625rem;
    padding-top: 0.25rem;
    & p{
      margin-top: 0;
    }
  }
  &-section {
    line-height: 1.625rem;
  }
}

.breadcrumbs {
  font-size: 1rem;
  color: $color-black;
  margin: 1.6rem 0 $spacing-md;
  padding-bottom: 1.0rem;
  border-bottom: 1px solid $color-gray-medium-1;

  a {
    color: $color-primary-blue;
    text-decoration: none;
    font-weight: $font-weight-regular;

    &:hover {
      text-decoration: underline;
    }
  }
}

.breadcrumbs-separator {
  color: $color-gray-medium-2;
  padding: 0 0.35rem;
}

.quote-section {
  margin-top: 0;
}

.subnotes-section {
  padding-left: 0.6rem;
  p:first-of-type {
  font-family: $font-family-secondary;
    font-size: 0.75rem;
    margin-top: 2.875rem;
    margin-bottom: 2.25rem;
    letter-spacing: 1.8125rem;
    text-transform: uppercase;

  }

}