@import '../../styles/variables';
@import '../../styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

:host {
  display: block;
}

.qf-form {
  background: $color-white;
  border-radius: $border-radius-md;
  padding: $spacing-md;
}

.qf-title {
  margin: 0;
  @include font-heading(2rem, $font-weight-light);
  color: $color-navy;

  @include mobile {
    font-size: 1.625rem;
  }
}

.qf-intro {
  margin: 0 0 $spacing-md;
  color: $color-gray-dark;
  font-size: 1.125rem;
}

.qf-required {
  color: $color-required;
}

.qf-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-md;

  input-field.full {
    grid-column: 1 / 3;
  }

  @include mobile {
    grid-template-columns: 1fr;

    input-field.full {
      grid-column: 1 / 2;
    }
  }
}

.qf-consent {
  margin: $spacing-md 0;
  font-size: 0.75rem;
  color: $color-gray-text;
}

.qf-actions {
  display: flex;
  justify-content: flex-end;
}

.qf-submit {
  @include button-primary;
  padding: 1.25rem 3.75rem;
  font-size: 1rem;
}
