@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.if-root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.if-label {
  font-size: 1.125rem;
  font-weight: $font-weight-semibold;
  color: $color-black;
  letter-spacing: 0.5px;
}

.if-req {
  color: $color-required;
  margin-left: $spacing-sm;
}

.if-control {
  @include input-base;
  min-height: 2.78125rem;
  border-color: rgb(154,154,154);
}

.if-desc {
  font-size: 0.85rem;
  color: $color-gray-text;

  &.is-error {
    color: $color-error;
  }
}
