@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.if-root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.if-label {
  font-size: 1.125rem;
  font-weight: $font-weight-semibold;
  color: $color-black;
  letter-spacing: 0.5px;
}

.if-req {
  color: $color-required;
  margin-left: $spacing-sm;
}

.if-control {
  @include input-base;
  min-height: 2.78125rem;
  border-color: rgb(154, 154, 154);
}

.if-desc {
  font-size: 0.85rem;
  color: $color-gray-text;

  &.is-error {
    color: #ff0000;
    font-weight: 700;
    font-size: 0.813rem;
  }
}

:host(.form-errors) {
  .if-root {
    padding-top: 1.125rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  .has-error {
    border-bottom: 1px solid #c89797;
    border-top: 1px solid #c89797;
    background-color: #fff7f7;


    input {
      border-color: 1px solid #790000;
    }

    & .if-desc.is-error {
      padding-top: 1rem;
    }
  }
}

@include small {
  .if-control {
    min-height: 3.25rem;
  }
}