@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

:host {
  display: inline-block;
}

svg {
  width: 196px;
  height: 58px;
  display: block;

  @include small {
    &.logo--nav {
      width: 9.0625rem;
      height: 2.5rem;
    }
  }
}
