@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

:host {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, #0078d6 0%, #0351aa 100%);
  opacity: 0;
  visibility: hidden;
  transition: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  &.open {
    opacity: 1;
    visibility: visible;
    transition: none;
  }
}

.modal-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  background-color: transparent;
  padding: 3rem 2rem 2rem 2rem;
}

.close-btn {
  position: absolute;
  top: 0rem;
  right: 10px;
  background: none;
  border: none;
  font-size: 3rem;
  line-height: 1;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  transition: opacity $transition-base;
  font-weight: 300;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }
}

.modal-body {
  color: white;
  width: 100%;
}
